<a href="{{path}}" class="group flex items-center px-2 py-2 text-base leading-6 font-medium text-gray-900 rounded-md bg-gray-100 focus:outline-none focus:bg-blue-800 transition ease-in-out duration-150">
    <i class="las {{icon}} text-2xl text-gray-900 group-hover:text-gray-500 group-focus:text-gray-600 transition ease-in-out duration-150 mr-3"></i>
    {{texte}}
</a>