<a href="{{path}}" class="group flex items-center px-2 py-2 text-sm leading-5 font-medium text-white rounded-md hover:text-gray-900 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 transition ease-in-out duration-150">
    <i class="las {{icon}} text-2xl text-white group-hover:text-gray-900 group-focus:text-gray-600 transition ease-in-out duration-150 mr-3"></i>
    {{texte}}
</a>