<a href="{{ path }}" class="bg-gray-50 flex items-center justify-center hover:bg-blue-500 hover:text-white hover:shadow-lg px-6 py-2 rounded-md transition duration-150 ease-in-out text-sm">
    <i class="las la-{{ icon }} text-2xl mr-2"></i>
    {{  text }}
</a>