{% extends 'admin/base.html.twig' %}
{% block pageTitle %}Panel d'administration{% endblock %}
{% block body %}
    <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Statistiques globales
        </h3>
        <dl class="my-5 grid grid-cols-1 gap-5 sm:grid-cols-2">
            <div class="bg-white overflow-hidden shadow rounded-lg">
                <div class="px-4 py-5 sm:p-6">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 bg-blue-500 rounded-md p-3 ">
                            <div class="h-10 w-10 flex justify-center items-center">
                                <i class="las la-users text-white text-4xl"></i>
                            </div>
                        </div>
                        <div class="ml-5 w-0 flex-1">
                            <span class="text-sm font-medium text-gray-500">
                                Nombre d’utilisateurs inscrits dans les dernières 24 h
                            </span>
                            <div class="flex items-baseline">
                                <div class="text-3xl font-display font-bold text-gray-900">
                                    10
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white overflow-hidden shadow rounded-lg">
                <div class="px-4 py-5 sm:p-6">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 bg-blue-500 rounded-md p-3 ">
                            <div class="h-10 w-10 flex justify-center items-center">
                                <i class="las la-pager text-white text-4xl"></i>
                            </div>
                        </div>
                        <div class="ml-5 w-0 flex-1">
                            <span class="text-sm font-medium text-gray-500 truncate">
                                Nombre d’annonces publiées dans les dernières 24 h
                            </span>
                            <div class="flex items-baseline">
                                <div class="text-3xl font-display font-bold text-gray-900">
                                    1
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white overflow-hidden shadow rounded-lg">
                <div class="px-4 py-5 sm:p-6">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 bg-blue-500 rounded-md p-3 ">
                            <div class="h-10 w-10 flex justify-center items-center">
                                <i class="las la-star text-white text-4xl"></i>
                            </div>
                        </div>
                        <div class="ml-5 w-0 flex-1">
                            <span class="text-sm font-medium text-gray-500 truncate">
                                Nombre d’annonces promues en cours
                            </span>
                            <div class="flex items-baseline">
                                <div class="text-3xl font-display font-bold text-gray-900">
                                    1
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white overflow-hidden shadow rounded-lg">
                <div class="px-4 py-5 sm:p-6">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 bg-blue-500 rounded-md p-3 ">
                            <div class="h-10 w-10 flex justify-center items-center">
                                <i class="las la-exclamation-triangle text-white text-4xl"></i>
                            </div>
                        </div>
                        <div class="ml-5 w-0 flex-1">
                            <span class="text-sm font-medium text-gray-500 truncate">
                                Nombre de signalements en cours
                            </span>
                            <div class="flex items-baseline">
                                <div class="text-3xl font-display font-bold text-gray-900">
                                    1
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dl>
    </div>
    <hr class="my-10">
    <div>
        <h2 class="text-md leading-6 font-medium text-gray-900 mb-5">
            5 dernières annonces
        </h2>
        <ul class="divide-y divide-gray-200 bg-white overflow-hidden shadow rounded-lg">
            {% for i in 0..4 %}
                <li class="px-4 py-4 flex items-center justify-between sm:px-6 ">
                    <div class="flex">
                        <p class="text-blue-500 mr-3">Titre de l'annonce</p>
                            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800 mx-1">
                              Catégorie
                            </span>
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-gray-800 mx-1">
                              3 Pixel+
                            </span>
                    </div>
                        <div class="ml-5 flex-shrink-0">
                            <a href=""><i class="las la-eye text-2xl text-blue-500"></i></a>
                        </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <hr class="my-10">

    <div>
        <h2 class="text-md leading-6 font-medium text-gray-900 mb-5">
            5 dernières offres
        </h2>
        <ul class="divide-y divide-gray-200 bg-white overflow-hidden shadow rounded-lg">
            {% for i in 0..4 %}
                <li class="px-4 py-4 flex items-center justify-between sm:px-6 ">
                    <div class="flex">
                        <p class="text-blue-500 mr-3">Nom du poste</p>
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800 mx-1">
                              Nom du projet
                            </span>
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-gray-800 mx-1">
                              3 candidatures
                            </span>
                    </div>
                    <div class="ml-5 flex-shrink-0">
                        <a href=""><i class="las la-eye text-2xl text-blue-500"></i></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}