{% extends 'mails/base.html.twig' %}

{% block body %}

  <h1 style="text-align: center">Bienvenue sur xxx !  </h1>
  <h2 style="text-align: center">  Vous venez de créer un compte sur xxx.fr. Pour activer votre compte il vous suffit de cliquer sur <a href="{{ signedUrl|raw }}">ce lien</a> </h2>



  <p style="text-align: center">
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
  </p>

  <p style="text-align: center">
    A très vite !
  </p>


{% endblock %}
